In [10]:
import pandas as pd

In [11]:
interval = 5
directoryMap = {
    1: 'minute',
    5: '5minute',
    60: 'hourly',
    'D': 'daily'
    }

df = pd.read_csv(f"./{directoryMap[interval]}Data/crypto_data.csv")
df.head()

,time,CATIUSDT_open,CATIUSDT_high,CATIUSDT_low,CATIUSDT_close,CATIUSDT_volume,CATIUSDT_turnover,ETH-29NOV24_open,ETH-29NOV24_high,ETH-29NOV24_low,...,CTCUSDT_low,CTCUSDT_close,CTCUSDT_volume,CTCUSDT_turnover,CELRUSDT_open,CELRUSDT_high,CELRUSDT_low,CELRUSDT_close,CELRUSDT_volume,CELRUSDT_turnover
0,2024-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.43875,0.43880,653.0,286.58430,0.01112,0.01112,0.01111,0.01111,132435.0,1471.88949
1,2024-09-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.43880,0.44075,113426.0,50203.34795,0.01111,0.01113,0.01110,0.01111,273961.0,3042.80148
2,2024-09-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.43930,0.43985,50315.0,22169.43635,0.01111,0.01112,0.01107,0.01110,858574.0,9524.86135
3,2024-09-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.43960,0.43980,8542.0,3757.29810,0.01110,0.01110,0.01106,0.01108,179571.0,1988.32554
4,2024-09-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.43790,0.43840,22799.0,9999.78230,0.01108,0.01111,0.01107,0.01111,58466.0,648.73668